@value makerBlack, makerWhite, makerGrey, makerShadow, makerColorful, makerWheat from '../../common/colors.css';

.wrap {
    margin-top: 1em;
}

.cardPreviewItem {
    display: flex;
    align-items: center;
    width: 32em;
    padding: 1em 0.8em;
    box-shadow: makerShadow;
    border-radius: 10px;
    position: relative;
}

.cardPreviewItem.light {
    background-color: makerWhite;
}

.cardPreviewItem.dark {
    color: makerWhite;
    background-color: makerBlack;
}

.cardPreviewItem.colorful {
    color: makerWhite;
    background: makerColorful;
}

.profile {
    width: 10em;
    height: 10em;
    padding: 1em;
    border-radius: 50%;
}

.infos_area {
    display: flex;
    flex-direction: column;
    flex: 1 1 75%;
    padding: 0 1em;
    font-size: 0.9em;
    line-height: 1.4em;
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.3em 0;
}

.company {
    margin-bottom: 1em;
}

.company::after {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: makerWheat;
    transform: translateY(0.5em);
}

.download {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    color: makerGrey;
}

.cardPreviewItem:hover {

}