.cardPreviewItem {
    display: flex;
    align-items: center;
    width: 32em;
    padding: 1em 0.8em;
    margin-top: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.cardPreviewItem.light {
    background-color: white;
}

.cardPreviewItem.dark {
    color: white;
    background-color: black;
}

.cardPreviewItem.colorful {
    color: white;
    background: linear-gradient(166deg, rgba(237, 193, 211, 1) 0%, rgba(212, 149, 161, 1) 60%, rgba(162, 63, 63, 1) 100%, rgba(127, 188, 242, 1) 100%);
}

.profile {
    width: 10em;
    height: 10em;
    padding: 1em;
    border-radius: 50%;
}

.infos_area {
    display: flex;
    flex-direction: column;
    flex: 1 1 75%;
    padding: 0 1em;
    font-size: 0.9em;
    line-height: 1.4em;
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.3em 0;
}

.company {
    margin-bottom: 1em;
}

.company::after {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: wheat;
    transform: translateY(0.5em);
}