:root {
  /* color */
  --color-spec-text-primary: #030303;
  --color-spec-text-secondary: #606060;
  --color-spec-10-percent-layer: rgba(0, 0, 0, 0.1);

  /* size */
  --size-channel-name-text: 0.75rem;
}

* {
  box-sizing: border-box;
}

body, p, button, ul, li,
h1, h2, h3 {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

ul,li {
  list-style: none;
}

#root {
  font-family: "Roboto","Arial",sans-serif;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 70%;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.5em;
  background-color: black;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
  margin-left: 0.3em;
  margin-right: 0.5em;
}

.search-form {
  display: flex;
  width: 85%;
  height: 100%;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em 0.7em;
  border-radius: 2px 0 0 2px;
}

.search-button {
  width: 50px;
  height: 100%;
  font-size: 2rem;
  background-color: #3d3d3d;
  border-radius: 0 2px 2px 0;
}

.search-button:hover {
  background-color: #262626;
}

.search-button-img {
  width: 50%;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}

.video-item {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-spec-10-percent-layer);
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, .2);
  border-radius: 3px;
  width: 49%;
  margin: 0.1em;
}

.video-item:hover {
  cursor: pointer;
  transition: all 0.1s ease-in;
  transform: scale(1.02); 
}

.thumbnail {
  width: 45%;
  margin: 0.5em;
}

.video-info {
  display: flex;
  flex-direction: column;
  margin: 1em 0.5em 1em 0;
}

.video-title {
  font-size: 1em;
  color: var(--color-spec-text-primary);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channel-name {
  font-size: var(--size-channel-name-text);
  color: var(--color-spec-text-secondary);
} 

@media screen and (max-width: 767px) {
  .video-item {
    width: 100%;
  }
}