:root {
  /* color */
  --color-spec-text-primary: #030303;
  --color-spec-text-secondary: #606060;
  --color-spec-10-percent-layer: rgba(0, 0, 0, 0.1);

  /* size */
  --size-channel-name-text: 0.75rem;
}

* {
  box-sizing: border-box;
}

body, p, button, ul, li,
h1, h2, h3 {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
  border: 0;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

ul,li {
  list-style: none;
}

#root {
  font-family: "Roboto","Arial",sans-serif;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 70%;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.5em;
  background-color: black;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
  margin-left: 0.3em;
  margin-right: 0.5em;
}

.search-form {
  display: flex;
  width: 85%;
  height: 100%;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em 0.7em;
  border-radius: 2px 0 0 2px;
}

.search-button {
  width: 50px;
  height: 100%;
  font-size: 2rem;
  background-color: #3d3d3d;
  border-radius: 0 2px 2px 0;
}

.search-button:hover {
  background-color: #262626;
}

.search-button-img {
  width: 50%;
}