.video_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

/* 768px */
@media screen and (max-width: 48rem) {
    .video_list {
        flex-direction: column;
    }
}